:root {
  --main-btn-color: #52626e;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
a {
  margin: 0;
  text-decoration: none;
  color: #0b0e1a;
  font-weight: 300;
}
ul {
  margin: 0 15px;
}
li {
  margin: 0 15px;
  list-style: none;
  display: inline;
}
header {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 65px;
  z-index: 1;
  box-shadow: 2px 3px 10px rgba(153, 153, 153, 0.452);
}
h1,h2 {
  margin: 0;
}
p {
  margin: 0;
}

.menu {
  margin: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-menu {
  height: 55px;
  margin: .5% 2%;
}
.link-menu {
  color: white;
  font-weight: 400;
}
.btn-cite {
  height: 36px;
  padding: 6px 20px;
  border: 2px solid #b6cada;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  color: white;
  font-weight: 600;
  font-size: .9rem;
  background-color: var(--main-btn-color);
}
.btn-cite:hover {
  color: #747474;
  background-color: #b6cada;
}

.hero {
  height: 420px;
  width: 100%;
  background-image: url('./image/salon6.svg');
  background-color: rgb(130, 130, 130);
  background-blend-mode: soft-light;
  z-index: -99;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-info {
  color: rgb(129, 129, 129);
  margin: 0 2%;
  position: absolute;
  top: 25%;
  right: 25%;
  left: 15%;
}
.salon {
  font-size: 3.5rem;
  font-weight: 500;
  color: #ebebeb;
}
.hero-description {
  font-size: 1.8rem;
  font-weight: 400;
  width: 550px;
  color: #ebebeb;
}
.btn-learn {
  margin-top: 2%;
  height: 38px;
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: .9rem;
  background-color: var(--main-btn-color);
}

.container {
  margin: 0 2%;
  align-items: center;
}
.main {
  height: 450px;
  background-color: #f1f1f1;
}
.porque {
  padding: 40px 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.porque-descritpion {
  width: 100%;
  margin: .5% 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.servicios {
  height: 400px;
}
.abilities {
  margin-top: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section {
  width: 15%;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}
.section p {
  margin-top: 6%;
}
footer {
  height: 55px;
  color: white;
  background-color: rgb(34, 34, 34);
}