:root {
  --main-btn-color: #52626e;
}
*{
	box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
a {
  margin: 0;
  text-decoration: none;
  color: white;
  font-weight: 300;
}
ul {
  margin: 0 15px;
}
li {
  list-style: none;
}
header {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 65px;
  display: block;
  align-items: center;
  z-index: 1;
  box-shadow: 2px 3px 10px rgba(153, 153, 153, 0.452);
}
h1,h2 {
  margin: 0;
}
p {
  margin: 0;
}

.nav-bar {
  top: -65px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
.logo-menu {
  height: 70px;
  margin: .2% 2%;
}
.hamburger-menu {
  display: none;
}
.nav-item {
  margin: 15px;
}
.nav-list {
  margin-left: 60%;
}
.nav-list li {
  display: inline;
}
.nav-link {
  color: white;
  font-weight: 400;
}
.btn-text a {
  font-size: .9rem;
  font-weight: 600;
}
.btn-cite {
  height: 36px;
  padding: 6px 20px;
  border: 2px solid #b6cada;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  color: white;
  font-weight: 600;
  font-size: .9rem;
  background-color: var(--main-btn-color);
}
.btn-cite:hover {
  color: #747474;
  background-color: #b6cada;
}

.hero {
  height: 430px;
  width: 100%;
}
.hero-img {
  height: inherit;
  width: 100%;
}
.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(130, 130, 130);
  background-blend-mode: soft-light;
}
.hero-info {
  color: rgb(247, 247, 247);
  margin: 0 2%;
  position: absolute;
  top: 25%;
  right: 25%;
  left: 15%;
  text-shadow: 2px 1px #868686;
}
.salon {
  font-size: 3.5rem;
  font-weight: 500;
  color: #ebebeb;
}
.hero-description {
  font-size: 1.8rem;
  font-weight: 400;
  width: 550px;
  color: #ebebeb;
}
.btn-learn {
  margin-top: 2%;
  height: 38px;
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: .9rem;
  background-color: var(--main-btn-color);
}

.container {
  margin: 0 2%;
  align-items: center;
}
.main {
  height: auto;
  position: relative;
  z-index: 5;
  background-color: #f1f1f1;
}
.porque {
  padding: 40px 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.porque-descritpion {
  width: 100%;
  margin: .5% 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.abilities {
  margin-top: 2.5%;
  padding: 0 0 .5% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section {
  width: 15%;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}
.ability {
  font-size: 1.3rem;
  font-weight: 400;
}
.section p {
  margin-top: 6%;
}
.contact-wrap h3 {
  font-weight: 400;
}
.servicios {
  margin: 0 0 1% 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.form {
  height: 220px;
}
textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.wrap{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.box{
	font-size: 1.2em;
	line-height: 1.6em;
  text-align: center;
}

#section h2{
	margin-bottom: 50px;
  position: relative;
  display: block;
}
#section p a{
	color: #00B16A;
  text-decoration: none;
}
#section .wrap {
	text-align: center;
	width: 100%;
}
#section .box{
	text-align: center;
	margin: 5% 0 0 0;
	width: 100%;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}
.contact-form .input-block {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #00b16a;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  position: absolute;
  left: 10px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 400;
  z-index: 1;
  color: #aaa;
  font-size: 18px;
  line-height: 10px;
}
.contact-form .input-block .form-control {
  background-color: transparent;
  margin: 0;
  outline: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
    padding: 30px 10px;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
}
.contact-form .input-block .form-control:focus label {
  top: 0;
}
.contact-form .square-button {
  background-color: #00B16A;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 30px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  letter-spacing: 2px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  background-color: #66CC99;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  transform: translateY(-4px);
}
.input-block i {
  visibility: hidden;
  position: absolute;
  top: 33px;
  right: 10px;
}
.input-block.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.input-block.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}
.input-block small {
  visibility: hidden;
  position: absolute;
  bottom: -40%;
  left: 0;
  color: #f34242;
}
.input-block.error small {
  visibility: visible;
}
/*----page styles---*/
.contact-wrap {
  padding: 15px;
  background: #ecf0f1;
}
.contact-wrap h1 {
  background-color: white;
  color: #ff7c62;
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.contact-wrap h1 small {
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #ff7c62;
}
.contact-wrap h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #616161;
}

footer {
  height: 100px;
  color: white;
  background-color: rgb(34, 34, 34);
}
.social {
  width: 250px;
  padding: 5px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.social-icon {
  display: inline;
  width: 35px;
  height: 35px;
  margin: 8px 20px;
  background-size: 35px 35px;
}
.social-icon.facebook {
  background-image: url('./icons/facebook.svg');
}
.social-icon.instagram {
  background-image: url('./icons/instagram.svg');
}
.social-icon.twitter {
  background-image: url('./icons/twitter.svg');
}
.legales {
  margin-top: .6%;
  text-align: center;
}

@media all and (max-width: 1180px){
	.wrap{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	}
}
@media (max-width: 868px) {
  .contact-form {
    width: 100%;
    padding: 40px;
  }
}
@media screen and (max-width: 800px) {
  .nav-list {
    margin-left: 30%;
    width: 100%;
    margin-top: .4%;
  }
  .hero-info {
    margin-left: -5%;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .section {
    width: 40%;
    margin-top: 3%;
    padding: .5%;
  }
}
@media (min-width: 768px) {
  .contact-wrap {
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 50%;
  }
}
@media (max-width: 568px) {
  .nav-bar {
    width: 13em;
    height: 100%;
    background-color: #8e9eab;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1% 0 0 1%;
    transition: right .6s cubic-bezier(1, 0, 0, 1);
    z-index: 8;
  }
  .nav-list li {
    display: block;
  }
  
  .change {
    right: 0;
  }
  
  .btn-hamburger {
    width: 42px;
    height: 42px;
    margin: -10px;
    top: 2.5%;
    position: fixed;
    border-radius: 50%;
    background: #8e9eab;
    z-index: -1;
    border: none;
    cursor: pointer;
  }
  .btn-cite {
    padding: 6%;
  }

  .hamburger-menu {
    width: 1.4em;
    height: 1.6em;
    position: fixed;
    top: 0.8em;
    right: 6%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .line {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.6s;
  }
  
  .change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 4px);
    background-color: white;
  }
  
  .change .line-2 {
    opacity: 0;
  }
  
  .change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -4px);
    background-color: white;
  }
  
  .nav-list {
    text-align: center;
    margin-left: 0;
    margin-right: 18%;
  }
  
  .nav-item {
    list-style: none;
    margin: 1.8em;
    margin-top: 2.5em;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
  }
  
  .nav-link::before,
  .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  
  .nav-link::after {
    bottom: 0;
    transform-origin: right;
  }
  
  .nav-link::before {
    top: 0;
    transform-origin: left;
  }
  
  .nav-link:hover::before,
  .nav-link:hover::after {
    transform: scaleX(1);
  }
	.contact-form {
	  padding: 10px;
  }
  .hero-info {
    width: 300px;
    margin: 0 -6%;
  }
  .hero-description {
    width: inherit;
  }

  .main {
    height: auto;
  }
  .porque {
    padding: 10% 0;
  }
  .porque-descritpion {
    width: 100%;
    padding: 0 4%;
    margin: 1% 0;
  }
  .abilities {
    margin-top: 4%;
  }
  .section {
    width: auto;
    margin: 4%;
  }
  .section-text {
    padding: 3.8%;
  }
  .servicios {
    margin: 0 0 2% 0;
  }
  .contact-form .square-button {
    height: 46px;
    font-size: 22px;
    font-weight: 500;
  }
  .social-icon {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
  }
}